<table>
    <tr>
        <th style="text-align:center">Food</th>
        <th style="text-align:center">Price</th>
        <th style="text-align:center">Paleo?</th>
        <th style="text-align:center">Budget Friendly?</th>

    </tr>
    {{#each dynamic}}
    <tr>
    <td>{{this.name}}</td>
    
    <td>{{this.price}}</td> 
    <td>{{this.paleo}}</td> 
    <td>{{this.cheap}}</td> 




    <td><a href="/edit/{{this._id}} " >edit</a></td> 
     <td><a href="/delete/{{this._id}} " onclick="return confirm('Do you REALLY want to delete this?');">delete</a> </td> 
</tr>
{{/each}}
</table>
