
  May Node and Express be with you.

<ul class="dynamic">
    <li class="quote">
        {{#each dynamic}}
      <span>{{this.name}}</span>
              <span>{{this.quote}}</span>
                          <span>{{this._id}}</span>

          <!-- <button id="update">Edit</button> -->
        <form action="/edit" />
    <input type="submit" value="edit" name="edit" />
    <input type="hidden" name="_id" value="{{this._id}}">

     <button id="delete">Delete</button>
        </form>
        <a href="/edit/{{this._id}}">edit</a>
        <a href="/edit/{{this._id}}">edit</a>


    </li>
  {{/each}}
</ul>

<form action="/new" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        Paleo Friendly?
          <input type="radio" name="paleo" value="yes" checked> Yes
        <input type="radio" name="paleo" value="no" checked> No

        
        <button type="submit">Submit</button>
    </form>
	
